<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Меню страв
    </ion-title>
    <ion-buttons slot="secondary">
      {{userName}}
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon slot="icon-only" name="log-out" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
     <app-comp-dish *ngIf="showNew" [isNew]="true" (addDish)="addDish($event)"
     (cancelAddingDish)="showNew=false">

     </app-comp-dish>

      <ion-label>  Стравы </ion-label>
      <ion-button shape="round" fill="outline" color="success"
       (click)="add()">
        <ion-icon slot="start" name="add" ></ion-icon>Додати

      </ion-button>
    </ion-list-header>
    <div *ngFor="let dish of dishes; let i = index" >
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="showEdit=i"  >
            <ion-icon name="create"></ion-icon>
            Змінити
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(i)">
            <ion-icon name="trash" ></ion-icon>
            Видалити
          </ion-item-option>
        </ion-item-options>
        <ion-item (click)="showEdit=-1" >
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>{{dish.name}}</ion-label>
          <ion-note slot="end">{{dish.type}}</ion-note>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="secondary"
          routerLink="/components/{{dish.name}}}"
          routerDirection="forward">
            <ion-icon name="reorder" ></ion-icon>
            Components
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <app-comp-dish *ngIf="showEdit==i" [isNew]="false"
      [componentDish]="dish" >

      </app-comp-dish>
    </div>
  </ion-list>
  <ion-item >
    <ion-input type="text" [(ngModel)]="extraData" > </ion-input>
  </ion-item>
  <ion-button color="primary" class="ion-float-right" (click)="sendData()">
    <ion-icon slot="start" name="send"></ion-icon> Відправити

  </ion-button>
</ion-content>
